$height: 400px
$width: 800px

body
    background: #3A1C71
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71)
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71)

.container-1
    position: relative
    height: $height
    width: $width
    margin: 50px auto
    overflow: hidden

.slider
    transition: transform 500ms

.slide
    position: absolute
    height: $height
    width: $width
    margin: 50px auto

    img
        height: $height
        width: $width

.btnDot
    display: inline-block
    width: 12px
    height: 12px
    margin: 0 4px
    border-radius: 50%
    background-color: #FFFFFF
    cursor: pointer
    transition: .2s
    border: none
    &:hover
        background-color: #808080

.active

.bullets
    position: absolute
    bottom: 10px
    width: 100%
    text-align: center
    span
        display: inline-block
        width: 12px
        height: 12px
        margin: 0 4px
        border-radius: 50%
        background-color: #FFFFFF
        cursor: pointer
        transition: .2s
        border: none
        &:hover
            background-color: #808080

.activeDot
    background-color: #0096FF !important

.indicators
    position: absolute
    top: 50%
    cursor: pointer
    background-color: transparent
    border: none
    z-index: 1
    transition: .2s
    &:hover
        background-color: #FFFFFF
        opacity: .6

#btn-next
    right: 0
